body{
    display: block;
    overflow-x: hidden;
    font-family: arial;
    font-size: 18px;
    padding-top: 150px;
}

hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #333;  /* old IE */
    background-color: #333;  /* Modern Browsers */
  }


  img {
    align-self: self-end;
  }

nav{
    background-color: whitesmoke;
    padding-bottom: 10px;
    padding-top: 15;
}

.navbar-brand img{
    max-height: 50px;
}

.navbar-brand{
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    color: blue;
}

.navbar-brand a{
    color:blue;
    font-size: 12px;
}

.navbar-brand ul li a{
    color: blueviolet;
    font-size: 14px;
    margin: auto 10px;
}


.carousel .item {
    width: 100%;
    /*slider width */
  }
  .carousel .item img {
    width: 100%;
    /*img width*/
  }

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    justify-content: center;
}

.list-group-item border-0 {
    list-style-type: disc !important;
    padding-left: 1em;
}

.list-group-item::before {
    content: "●";
    margin-right: 0.75rem;
  }

  .box {
    justify-self: end;
    width: 100%;
    height: 100%;
    border: 2px dashed ghostwhite;
  }
  