body{
    display: block;
    overflow-x: hidden;
    font-family: arial;
    font-size: 18px;
}

hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #333;  /* old IE */
    background-color: #333;  /* Modern Browsers */
  }

nav{
    background-color: whitesmoke;
    padding-bottom: 10px;
    padding-top: 15;
}

.navbar-brand img{
    max-height: 50px;
}

.navbar-brand{
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    color: blue;
}

.navbar-brand a{
    color: red;
    font-size: 12px;
}

.navbar-brand ul li a{
    color: blue;
    font-size: 12px;
    margin: auto 10px;
}


.carousel .item {
    width: 100%;
    /*slider width */
  }
  .carousel .item img {
    width: 100%;
    /*img width*/
  }

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    justify-content: center;
}