body{
    display: block;
    overflow-x: hidden;
    font-family: arial;
    font-size: 18px;
}

nav{
    background-color: whitesmoke;
    padding-bottom: 10px;
    padding-top: 15;
}

.navbar-brand img{
    max-height: 50px;
}

.navbar-brand{
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    color: blue;
}

.navbar-brand a{
    color: red;
    font-size: 12px;
}

.navbar-brand ul li a{
    color: red;
    font-size: 12px;
    margin: auto 10px;
}


.carousel .item {
    width: 100%;
    /*slider width */
  }
  .carousel .item img {
    width: 100%;
    /*img width*/
  }
